@page
@model RecruitCatWelshsr.Pages.JobTitles.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>All Job Titles</h1>

<p>
    <a asp-page="Create">Create New Job Title</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle[0].MinSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle[0].MaxSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle[0].IsFilled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle[0].DegreeTypeRequired)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.JobTitle) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFilled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeTypeRequired)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.JobTitleID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.JobTitleID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.JobTitleID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
